.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button.primary {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* A nice blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.primary:hover {
    background-color: #0056b3; /* Darker blue for hover */
  }
  
  button.primary:focus {
    outline: none;
    box-shadow: 0 0 4px 2px rgba(0, 123, 255, 0.5); /* Subtle focus shadow */
  }
  
  button.primary:active {
    background-color: #003f7f; /* Even darker blue for active state */
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }
  